<nav class="nav nav-pills justify-content-center" style="margin-top: 5px;">
    <a routerLink="/api/home" class="nav-link" routerLinkActive="active">Home</a>
    <!-- <a routerLink="/search">Search</a>
    <a routerLink="/news">Forum</a> -->
    <ng-container *ngIf="isLogged">
        <a routerLink="/api/post-car" class="nav-link" routerLinkActive="active">Post car</a>
        <a routerLink="/user/profile/my-cars" class="nav-link" routerLinkActive="active">Profile</a>
        <button (click)="logoutHandler()" class="nav-link">Logout</button>
    </ng-container>

    <ng-container *ngIf="!isLogged">
        <a routerLink="/user/login" class="nav-link" routerLinkActive="active">Login</a>
        <a routerLink="/user/register" class="nav-link" routerLinkActive="active">Register</a>
    </ng-container>
</nav>