<div class="container">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col fs-5">{{car.make}} {{car.model}} {{car.variant}}</div>
    <div class="col fs-5">
      <span class="price" style="margin-left: 390px;">{{car.price}} {{car.currency}}</span>
    </div>
  </div>
  <ng-image-slider [images]="car.imgUrl" #nav></ng-image-slider>
  <div *ngIf="isOwner" style="margin-top: 10px; margin-bottom: 10px;">
    <button class="btn btn-success" [routerLink]="['/api/edit', car._id]" style="margin-right: 5px;">Edit</button>
    <button class="btn btn-danger" (click)="deleteCar(car._id)">Delete</button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Date made: {{car.dateMade | date: 'dd/MM/yyyy'}}</li>
    <li class="list-group-item"> Engine: {{car.engine}}</li>
    <li class="list-group-item"> Horse Power: {{car.horsePower}} HP</li>
    <li class="list-group-item"> Documents: {{car.documents === "true" ? "yes" : "no"}}</li>
    <li class="list-group-item"> Gears: {{car.gears}}</li>
    <li class="list-group-item"> Category: {{car.type}}</li>
    <li class="list-group-item"> Mileage: {{car.mileage}} km</li>
    <li class="list-group-item"> Color: {{car.color}}</li>
    <li class="list-group-item"> Location: {{car.country}}, {{car.city}}</li>
    <li class="list-group-item"> Owner telephone: {{car.owner?.telephone}}</li>
    <li class="list-group-item"> Car description: <br> {{car.description}}</li>
  </ul>
</div>