<form #form="ngForm" (ngSubmit)="searchHandler(form)" class="formSearch">
    <ul>
        <li>
            <label for="make">Make</label>
            <select name="make" id="make" #makeSelect="ngModel" [(ngModel)]="carMake">
                <option value="" selected="selected">Any</option>
                <option *ngFor="let make of jsonData.cars" [value]="make">{{make}}</option>
            </select>
        </li>

        <li>
            <label for="model">Model</label>
            <ng-container *ngIf="!carMake">
                <select name="model" id="model" disabled ngModel>
                    <option value="">Any</option>
                </select>
            </ng-container>

            <ng-container *ngIf="carMake">
                <select name="model" id="model" ngModel>
                    <option value="">Any</option>
                    <option *ngFor="let model of cars[carMake].models" [value]="model">{{model}}</option>
                </select>
            </ng-container>
        </li>

        <li>
            <label for="maxPrice">Max price</label>
            <input type="text" name="maxPrice" id="maxPrice" ngModel>
        </li>
        <li>
            <label for="minPrice">Min price</label>
            <input type="text" name="minPrice" ngModel>
        </li>
        <li>
            <label for="country">Country</label>
            <select name="country" id="country" [(ngModel)]="city">
                <option value="" selected>Any</option>
                <option *ngFor="let country of jsonData.countries" [value]="country">{{country}}</option>
            </select>
        </li>

        <li>
            <label for="city">City</label>
            <ng-container *ngIf="!city">
                <select name="city" id="city" disabled>
                    <option value="">Any</option>
                </select>
            </ng-container>

            <ng-container *ngIf="city">
                <select name="city" id="city" ngModel>
                    <option value="">Any</option>
                    <option *ngFor="let town of countries[city].towns" [value]="town">{{town}}</option>
                </select>
            </ng-container>
        </li>

        <li>
            <label for="dateMade">Year</label>
            <select name="dateMade" id="dateMade" ngModel>
                <option value="" selected="selected">Any</option>
                <option *ngFor="let year of jsonData.years" [value]="year">{{year}}</option>
            </select>
        </li>
        <li>
            <label for="engine">Engine</label>
            <select name="engine" id="engine" ngModel>
                <option value="" selected="selected">Any</option>
                <option *ngFor="let engine of jsonData.engine" [value]="engine">{{engine}}</option>
            </select>
        </li>
        <li>
            <label for="gears">Gears</label>
            <select name="gears" id="gears" ngModel>
                <option value="" selected="selected">Any</option>
                <option *ngFor="let gears of jsonData.gears" [value]="gears">{{gears}}</option>
            </select>
        </li>
        <li>
            <button>Search</button>
        </li>
    </ul>

</form>
<app-recent></app-recent>